.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  padding: 40px 60px;
  background-color: #fff;
  transform: translateY(-35%);
}

.questions {
  width: 100%;
  margin-bottom: 20px;
}

.question {
  display: block;
  font-size: 16px;
  margin-bottom: 15px;
  padding: 12px 25px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  transition: all .3s ease;
}

.question:last-child {
  margin-bottom: 0;
}

.question:hover,
.is-active {
  font-weight: 600;
  background-color: #fbfcff;
  border: 1px solid #9dcdfa;
}

.next {
  font-size: 16px;
  font-weight: 700;
  padding: 15px 55px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #ffcd00;
}

.next:hover {
  background-color: #f2c300;
}

.next:disabled {
  background-color: #fff;
  border: 1px solid #e8e8e8;
}

.timer {
  font-weight: bold;
  margin-bottom: 15px;
}

.question-count {
  font-size: 14px;
  font-weight: 300;
}